{% from "includes/_formhelper.html" import render_field %}

<div class="sticky-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-xl bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="/home"><img class="pill" src="/static/images/drugs.svg"></img>Dolorem Ipsum</a>
    <div class="search-bar-padding">
      <form method="POST" action="" id="searchform">
        {{ render_field(searchForm.search_input, class="searchbar-container", placeholder="  Search...", id="SearchBar") }}
      </form>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto bg-light">
        {% if current %}
        <li class="nav-item">
          <div class="dropdown-user">
            <!-- <button class="dropbtn">User</button> -->
            <a class="nav-link dropbtn-user" href="/my-account/{{current.get_username()}}"><i class="icon-user"></i> {{current.get_username()}}</a>
            <div class="dropdown-content-user">
              <a href="/my-account/{{current.get_username()}}">See My Profile</a>
              <a href="#">Check Current Deliveries</a>
              <a href="#">Helpdesk/FAQ</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="icon-user"></i> Login | Register</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/cart"><i class="icon-shopping-cart"></i> Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wishlist/a-z"><i class="icon-heart"></i> Wish List</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-xl bg-light navbar-light" id="sub-navbar">
    <ul class="navbar-nav container container-fluid">
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"><a class="nav-link" href="/mainCategory/Health/view/descending">Health</a></button>
          <div class="dropdown-content">
            <a href="/subCategory/Pain&Fever/view/descending">Pain & Fever</a>
            <a href="/subCategory/FamilyPlanning/view/descending">Family Planning</a>
            <a href="/subCategory/FirstAid&Surgical/view/descending">First Aid & Surgical</a>
            <a href="/subCategory/Eye&EarCare/view/descending">Eye & Ear Care</a>
            <a href="/subCategory/Supplements/view/descending">Supplements</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"><a class="nav-link" href="/mainCategory/HairCare/view/descending">Hair Care</a></button>
          <div class="dropdown-content">
            <a href="/subCategory/Shampoo/view/descending">Shampoo</a>
            <a href="/subCategory/Conditioner/view/descending">Conditioner</a>
            <a href="/subCategory/Treatment/view/descending">Treatment</a>
            <a href="/subCategory/HairDye/view/descending">Hair Dye</a>
            <a href="/subCategory/HairStyling/view/descending">Hair Styling</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"><a class="nav-link" href="/mainCategory/Toiletries/view/descending">Toiletries</a></button>
          <div class="dropdown-content">
            <a href="/subCategory/Bath&HandCleansing/view/descending">Bath & Hand Cleansing</a>
            <a href="/subCategory/OralCare/view/descending">Oral Care</a>
            <a href="/subCategory/SanitaryCare/view/descending">Sanitary Care</a>
            <a href="/subCategory/Tissues&Wipes/view/descending">Tissues & Wipes</a>
          </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"><a class="nav-link" href="/mainCategory/SkinCare/view/descending">Skin Care</a></button>
          <div class="dropdown-content">
            <a href="/subCategory/SkinCareAccessories/view/descending">Accessories</a>
            <a href="/subCategory/Anti-acne/view/descending">Anti-acne</a>
            <a href="/subCategory/Facial/view/descending">Facial</a>
            <a href="/subCategory/Hand&Body/view/descending">Hand & Body</a>
            <a href="/subCategory/LipCare/view/descending">Lip Care</a>
            <a href="/subCategory/SunCare/view/descending">Sun Care</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"><a class="nav-link" href="/mainCategory/Baby/view/descending">Baby</a></button>
          <div class="dropdown-content">
            <a href="/subCategory/Toiletries/view/descending">Toiletries</a>
            <a href="/subCategory/Diapers/view/descending">Diapers</a>
            <a href="/subCategory/MilkPowder&Food/view/descending">Milk Powder & Food</a>
            <a href="/subCategory/BabyVitamins/view/descending">Baby Vitamins</a>
            <a href="/subCategory/BabyAccessories/view/descending">Accessories</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"><a class="nav-link" href="/mainCategory/Cosmetics/view/descending">Cosmetics</a></button>
          <div class="dropdown-content">
            <a href="/subCategory/Nails/view/descending">Nails</a>
            <a href="/subCategory/Eyes/view/descending">Eyes</a>
            <a href="/subCategory/Lips/view/descending">Lips</a>
            <a href="/subCategory/Face/view/descending">Face</a>
            <a href="/subCategory/MakeupRemover/view/descending">Makeup Remover</a>
            <a href="/subCategory/CosmeticsAccessories/view/descending">Accessories</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="dropbtn"><a class="nav-link" href="/listOfBrands">Brands</a></button>
      </li>
    </ul>
  </nav>
</div>

<style>
  .dropbtn-user {
    color: white;
    font-size: 16px;
    border: none;
  }

  .dropdown-user {
    position: relative;
    display: inline-block;
  }

  .dropdown-content-user {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content-user a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content-user a:hover {
    background-color: #ddd;
  }

  .dropdown-user:hover .dropdown-content-user {
    display: block;
  }

  .dropdown-user:hover .dropbtn-user {
    background-color: #3e8e41;
  }
</style>
