<div class="sticky-top">
 <!-- Navigation -->
<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Dolorem Ipsum</a>
    <div class="search-bar-padding">
    <input class="searchbar-container" data-backdrop="true" type="text" placeholder="Search..." id="SearchBar">
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto bg-dark">
        <li class="nav-item">
            <a class="nav-link" href="login"><i class="icon-user"></i>   Login | Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="cart"><i class="icon-shopping-cart"></i>   Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishlist/a-z"><i class="icon-heart"></i>   Wish List</a>
        </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
    <ul class="navbar-nav container container-fluid">
        <li class="nav-item">
            <a class="nav-link" href="#">NEW</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="dropbtn"><a class="nav-link" href="#">Personal Care</a></button>
                <div class="dropdown-content">
                    <a href="#">Bodycare</a>
                    <a href="#">Oral</a>
                    <a href="#">Bath</a>
                    <a href="#">Men's Grooming</a>
                    <a href="#">Sanitary Protection Hygiene</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Body Wash</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="dropbtn"><a class="nav-link" href="#">Health</a></button>
                <div class="dropdown-content">
                    <a href="#">Over the Counter</a>
                    <a href="#">Family Planning</a>
                    <a href="#">First Aid & Surgical</a>
                    <a href="#">Eye & Ear Care</a>
                    <a href="supplements">Supplements</a>
                </div>
            </div>
        </li>
        <li class="nav-item" aria-haspopup="true">
            <div class="dropdown">
                <button class="dropbtn"><a class="nav-link" href="#"> Skin Care </a></button>
                <div class="dropdown-content">
                    <a href="#">Something</a>
                    <a href="#">Something 2</a>
                    <a href="#">Something 3</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="dropbtn"><a class="nav-link" href="#">Baby</a></button>
                <div class="dropdown-content">
                    <a href="#">Toiletries</a>
                    <a href="#">Diapers</a>
                    <a href="#">Milk Powder & Food</a>
                    <a href="#">Accessories</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="dropbtn"><a class="nav-link" href="#">Cosmetics</a></button>
                <div class="dropdown-content">
                    <a href="#">Nails</a>
                    <a href="#">Eyes</a>
                    <a href="#">Lips</a>
                    <a href="#">Face</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
</div>
