{% extends "admin_base.html" %}
{% block title %}Add Stock{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/styles/productSettings.css">
<style>
  .fa-times {
    color: black;
  }

  .fa-times:hover {
    color: #dc3545;
  }
</style>
{% endblock %}

{% block headScript %}
{% endblock %}

{% block content %}
{% from "includes/_admin_formhelper.html" import render_field %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="my-4">Add Stock</h1>

        <form method="POST" action="">
          <div class="form-row">
            <div class="col-lg-8">
                {{ render_field(form.product, class="form-control") }}
            </div>
            <div class="col-lg-3 mb-2">
                {{ render_field(form.quantity, class="form-control", placeholder='Quantity') }}
            </div>
            <div class="col">
                <input type="submit" value="Add" class="btn float-right">
            </div>
          </div> <!--Row Form Group-->
        </form>

        {% if newStock|length==0 %}
        <p class="my-4">&nbsp;No Stock added yet.</p>
        {% else %}
        <table class="table mt-2">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {% for product in newStock %}
              <tr>
                <td>{{ productDict[product].get_serial_no() }} - {{ productDict[product].get_product_name() }}</td>
                <td>{{ newStock[product] }}</td>
                <td><a href="/deleteStockChoice/{{ productDict[product].get_serial_no() }}"><i class="fa fa-times"></i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

      <a href="/cancelAdditionOfStock" class="btn mr-2 grayButton">Cancel</a>
      <a href="/processAdditionOfStock" class="btn">Submit</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('select').selectize({
        sortField: 'text'
    });
});
</script>
{% endblock %}
