{% extends "admin_base.html" %}
{% block title %}Edit Product{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/productSettings.css">{% endblock %}
{% block headScript %}
<script type="text/javascript">

</script>
{% endblock %}

{% block content %}
{% from "includes/_admin_formhelper.html" import render_field %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="my-4">Add Stock</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>test</td>
              <td>test</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="col-md-8">
      <form method="POST" action="">
        <div class="row form-group">
          <div class="col-md-8">
              {{ render_field(form.product, class="form-control") }}
          </div>
          <div class="col-md-4">
              {{ render_field(form.quantity, class="form-control", placeholder='Quantity') }}
          </div>
        </div> <!--Row Form Group-->
      </form>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
