{% extends "admin_base.html" %}
{% block title %}Display Feedback{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/adminFeedback.css">{% endblock %}
{% block headScript %}

{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<h1 class="text-center mt-4 mb-3">Feedback</h1>


<div class="row justify-content-center">
  <div class="col-md-9 box pt-4">
    {% for i in feedbackList %}
    <h4 class="font-weight-bold text-center">{{i.get_name()}}</h4>

    <table class="mx-auto">
      <tbody>
        <tr>
          <th class="text-right pr-2">Agenda:</th>
          <td class="p-2">{{i.get_agenda()}}</td>
        </tr>

        <tr>
          <th class="text-right pr-2">Comments:</th>
          <td class="p-2">{{i.get_comment()}}</td>
        </tr>

        <tr>
          <th class="text-right pr-2">Delivery Rating:</th>
          <td class="p-2">{{i.get_rating()}}</td>
        </tr>
      </tbody>
    </table>

    <hr>

    {% endfor %}
  </div>
</div>
{% endblock %}
