{% extends "admin_base.html" %}
{% block title %}Display Feedback{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/adminFeedback.css">{% endblock %}
{% block headScript %}

{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}
{% for i in feedbackList %}
<div class="displayFeedback box">
  <div class="form-group">
    <h1>{{i.get_name()}}</h1>
  </div>

  <div class="form-group">
    Agenda: {{i.get_agenda()}}
  </div>

  <div class="form-group">
    Comments: {{i.get_comment()}}
  </div>

  <div class="form-group">
    Rating: {{i.get_rating()}}
  </div>
</div>

{% endfor %}
{% endblock %}
