{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/styles/cart.css">{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<div id="content" class="row justify-content-center">
  <div id="MyCart" class="col-lg-7 col-md-12 mr-4">
      <h2>MY CART</h2>
      <hr>

    {% for product in cartList %}
    <div class="item row">
      <div class="col-md-8 row justify-content-between">
        <div class="col-md-2">
          <a href="{{url_for('IndItem', serialNo=product.get_serial_no())}}">
            <img class="image" src="/static/images/{{product.get_thumbnail()}}">
          </a>
        </div>
        <div class="d-inline-block col-md-9">
          <p>SGD ${{product.get_price()}}</p>
          <p>{{product.get_product_name()}}</p>
          <p>Qty: {{product.get_quantity()}}</p>
        </div>
      </div> <!--item div-->

      <div class="buttons col-md-4">
        <form action="{{url_for('moveToWishlist', serialNo = product.get_serial_no())}}" method="post" onsubmit="return confirm('Are you sure you want to move this item to your wishlist?')">
          <button class="mybutton up move"><i class="icon-heart"></i> Move to wishlist</button>
        </form>
        <form action="{{url_for('deleteShoppingCartItem', serialNo = product.get_serial_no())}}" class="remove" method="post" onsubmit="return confirm('Are you sure you want to remove this item from your cart?')">
          <button class="icon-btn add-btn mt-2">
            <div class="btn-txt">Remove</div>
          </button>
        </form>
      </div>
    </div>
    <hr>
    {% endfor %}

  </div>

  <div id="cost" class="col-lg-4 col-md-12 h-50">
    <div id="total_header">
      <h2>TOTAL</h2>
      <hr>
    </div>
    <div id="calculations">
      <div id="sub-total">
        <div class="price">SGD ${{ totalCost }}</div>
        <div>Sub-total</div>
      </div>
      {% if discount != '' %}
      <div id="discount" class="clearfix">
        <div>
          <button type="button" data-toggle="modal" data-target="#input-discount" class="mybutton">Edit</button>
        </div>
        <div>Discount Code: {{current_discount["discount"].get_code()}}</div>
      </div>
      <div id="discount-confirm">
        <div style="float: right;">- ${{deducted}}</div>
        <form action="{{url_for('removeUseDiscount')}}", method="post"><div>Discount<button class="remove_discount" value="submit" >Remove</button></div></form>
        <div>Discount</div>
      </div>
      {% else %}
      <div id="discount" class="clearfix">
        <div>
          <button type="button" data-toggle="modal" data-target="#input-discount" class="mybutton">click to<br>add</button>
        </div>
        <div>Discount Code</div>
      </div>
      <div id="discount-confirm">
        <div style="float: right;">{{error_msg}}</div>
        <div>Discount</div>
      </div>
      {% endif %}


    </div>
    <div id="hidden">
      <hr>
      <div id="new-total">
        {%if discount != ''%}
        <div>SGD ${{new_total}}</div>
        {%else%}
        <div>SGD ${{totalCost}}</div>
        {%endif%}
        <div>TOTAL</div>
      </div>

      <form method="POST" action="{{url_for('cart')}}" class="text-center mt-2">
        {{render_field(NoCollectForm.home_delivery)}}
      <div id="CHECKOUT">
        <button class="mybutton" value="submit">CHECKOUT</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!--Modal-->
<div id="input-discount" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h4 class="modal-title">Discount Code</h4>
        </div>
        <div>
          <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
        </div>
      </div>

      <form action="{{url_for('useDiscount')}}" method="post">
        <div class="modal-body">
        <div>Please enter your discount code</div>
        {{render_field(Discount.discount_code)}}
      </div>
      <div class="modal-footer">
        <button class="mybutton" value="submit" >Confirm</button>
      </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
