{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/styles/cart.css">{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<div id="content">

  <div id="MyCart">
    <div id="cart_header">
      <h2>MY CART</h2>
      <hr>
    </div>

    {% for product in cartList %}
    <div class="item">
      <div class="details ">
        <a href="{{url_for('IndItem', serialNo=product.get_serial_no())}}">
          <img class="image" src="/static/images/{{product.get_thumbnail()}}">
        </a>
        <div class="right">
          <p class="price">SGD ${{product.get_price()}}</p>
          <p class="item_name">{{product.get_product_name()}}</p>
          <div class="qty">
            Qty <select name="qty">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
      </div>
      <div class="buttons">
        <form action="{{url_for('moveToWishlist', serialNo = product.get_serial_no())}}" method="post" onsubmit="return confirm('Are you sure you want to move this item to your wishlist?')">
          <button class="mybutton up move"><i class="icon-heart"></i> Move to wishlist</button>
        </form>
        <form style="padding-top: 5px;"action="{{url_for('deleteShoppingCartItem', serialNo = product.get_serial_no())}}" class="remove" method="post" onsubmit="return confirm('Are you sure you want to remove this item from your cart?')">
          <button class="icon-btn add-btn">
            <div class="btn-txt">Remove</div>
          </button>
        </form>
      </div>
    </div>
    <hr>
    {% endfor %}

  </div>
  <div id="cost" class="clearfix">
    <div id="total_header">
      <h2>TOTAL</h2>
      <hr>
    </div>
    <div id="calculations">
      <div id="sub-total">
        <div class="price">SGD ${{ totalCost }}</div>
        <div>Sub-total</div>
      </div>
      <div id="discount" class="clearfix">
        <div>
          <button type="button" data-toggle="modal" data-target="#input-discount" class="mybutton">click to<br>add</button>
        </div>
        <div>Discount Code</div>
      </div>
      <div id="discount-confirm">
        <div style="float: right;">- $9.15</div>
        <div>Discount</div>
      </div>


    </div>
    <div id="hidden">
      <hr>
      <div id="new-total">
        <div>SGD $21.35</div>
        <div>NEW TOTAL</div>
      </div>
      <form method="POST" action="{{url_for('cart')}}">
      <div id="delivery">
        {{render_field(NoCollectForm.home_delivery)}}
      </div>
      <div id="CHECKOUT">
        <button class="mybutton" value="submit">CHECKOUT</a>
      </div>
      </form>
    </div>
  </div>
</div>
<!--Modal-->
<div id="input-discount" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h4 class="modal-title">Discount Code</h4>
        </div>
        <div>
          <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <div class="modal-body">
        <div>Please enter your discount code</div>
        <input type="text">
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
