{% extends "admin_base.html" %}
{% block title %}Products{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/categories.css">{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-11 mt-3">
    <h1 class="d-inline">Categories</h1>
    <a class="btn d-inline float-right mt-1 ml-3" href="#">+ Add Sub-category</a>
    <a class="btn d-inline float-right mt-1" href="#">+ Add Main category</a>
  </div>

  <div class="col-md-11">
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th>Main category</th>
          <th>Sub-category</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td rowspan="4">Cosmetics</td>
          <td>Nails</td>
        </tr>

        <tr><td>Eyes<i class="fa fa-trash float-right mx-2" aria-hidden="true"></i><i class="fa fa-pencil float-right" aria-hidden="true"></i></td></tr>
        <tr><td>Lips</td></tr>
        <tr><td>Face</td></tr>

        <tr>
          <td rowspan="5">Health</td>
          <td>Over the Counter</td>
        </tr>

        <tr><td>Family Planning</td></tr>
        <tr><td>First Aid & Surgical</td></tr>
        <tr><td>Eye & Ear care</td></tr>
        <tr><td>Supplements</td></tr>

        <tr>
          <td rowspan="5">Personal Care</td>
          <td>Bodycare</td>
        </tr>

        <tr><td>Oral</td></tr>
        <tr><td>Bath</td></tr>
        <tr><td>Men's Grooming</td></tr>
        <tr><td>Sanitary Protection & Hygiene</td></tr>

        <tr>
          <td rowspan="4">Baby</td>
          <td>Toiletries</td>
        </tr>

        <tr><td>Diapers</td></tr>
        <tr><td>Milk Powder & Food</td></tr>
        <tr><td>Accessories</td></tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
