{% extends "admin_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/dashboard.css">{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<div class="row justify-content-center">
    <div class="col-lg-10 dashboard-block p-4 mx-2 mt-3">
        <h2 class="d-inline">Low Stock</h2>
        <a class="btn d-inline float-right" href="/productStats/name/ascending">View All</a>
        <table class="w-100 products mt-4 mb-2">
            <thead>
                <tr>
                    <th colspan="2">&nbsp;&nbsp;Product</th>
                    <th>No. of Purchases</th>
                    <th>Stock</th>
                    <th>Threshold</th>
                </tr>
            </thead>

            <tbody>
              {% for product in stockList %}
                <tr
                {% if product in lowStockList%}
                class="lowStock"
                {% else %}
                class="midStock"
                {% endif %}
                >
                  <td><img class="thumbnail" src="/static/images/{{ product.get_thumbnail() }}" alt="thumbnail"></td>
                  <td class="name">{{ product.get_product_name() }}</td>
                  <td class="serial-no">{{ product.get_serial_no() }}</td>
                  <td class="quantity">{{ product.get_quantity() }}</td>
                  <td class="threshold">{{ product.get_stock_threshold() }}</td>
                </tr>

              {% endfor %}
            </tbody>
        </table>

        <a class="btn d-inline float-right" href="javascript:nextPage()" id="stock-page-next">Next  <i class="fa fa-angle-right "></i></a>
        <a class="btn d-inline float-right mr-2" href="javascript:prevPage()" id="stock-page-prev"><i class="fa fa-angle-left "></i>  Prev</a>
    </div>
</div> <!--Row 1, Stock-->

<div class="row justify-content-center mt-2">
    <div class="col-lg-5 dashboard-block p-4 my-2 small-block-1">
        <h2 class="d-inline">Best-Sellers</h2>
        <a class="btn d-inline float-right mb-2" href="/productStats/purchase/descending">View All</a>
        <div class="col mt-4" id="purchasesGraph"></div>
        <script>
          var purchasesData = {{purchasesGraph | safe}};
          purchasesData.layout = { yaxis: {automargin: true}, margin: {t:0, b:0}, height: 250};
          var chart = Plotly.newPlot("purchasesGraph", purchasesData.data, purchasesData.layout, {responsive: true, displayModeBar:false});
        </script>
    </div>

    <div class="col-lg-5 dashboard-block p-4 my-2 small-block-2">
        <h2 class="d-inline">Most-Viewed Items</h2>
        <a class="btn d-inline float-right mb-2" href="/productStats/view/descending">View All</a>
        <div class="col mt-4" id="viewsGraph"></div>
        <script>
          var viewsData = {{viewsGraph | safe}};
          viewsData.layout = { yaxis: {automargin: true}, margin: {t:0, b:0}, height: 250};
          var chart = Plotly.newPlot("viewsGraph", viewsData.data, viewsData.layout, {responsive: true, displayModeBar:false});
        </script>
    </div>
</div> <!--Row 2, Stats-->

<div class="row justify-content-center">
    <div class="col-lg-10 dashboard-block p-4 mx-2 my-2">
        <h2 class="d-inline">Pending Transactions</h2>
        <a class="btn d-inline float-right mb-2" href="/transactions">View All</a>
        <table class="w-100" id="transactions">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>No. of Items</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
              {% for id in transactions %}
                <tr>
                  <td>{{ transactions[id].get_date() }}</td>
                  <td>{{ transactions[id].get_name() }}</td>
                  <td>{{ transactions[id].get_items()|length }}</td>
                  <td>${{ transactions[id].get_total() }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div> <!--Row 3, Transactions-->

{% endblock %}

{% block scripts %}
<script>
  var alertTotal = {{ lowStockList|length }} + {{ midStockList|length }};
  var noOfPages = Math.ceil(alertTotal/3);
  console.log('No. of Pages =', noOfPages);
  var stockPage = {{ stockPage }};
  console.log(stockPage);

  if(alertTotal<4) {
    document.getElementById("stock-page-prev").style.setProperty('display', 'none', 'important');
    document.getElementById("stock-page-next").style.setProperty('display', 'none', 'important');
  }
  else {
    if(stockPage==1) {
      document.getElementById("stock-page-prev").style.setProperty('visibility', 'hidden', 'important');
      document.getElementById("stock-page-next").style.setProperty('visibility', '', 'important');
    }
    else if(stockPage==noOfPages) {
      document.getElementById("stock-page-prev").style.setProperty('visibility', '', 'important');
      document.getElementById("stock-page-next").style.setProperty('visibility', 'hidden', 'important');
    }
    else {
      document.getElementById("stock-page-prev").style.setProperty('visibility', '', 'important');
      document.getElementById("stock-page-next").style.setProperty('visibility', '', 'important');
    }
  }

  function prevPage() {
    stockPage -= 1;
    window.location.href = '/dashboard/' + stockPage;
  }

  function nextPage() {
    stockPage += 1;
    console.log(stockPage);
    window.location.href = '/dashboard/' + stockPage;
  }
</script>
{% endblock %}
