{% extends "admin_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/dashboard.css">{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<div class="row justify-content-center">
    <div class="col-lg-10 dashboard-block p-4 mx-2 mt-3">
        <h2 class="d-inline">Low Stock</h2>
        <a class="btn d-inline float-right mt-1 mb-2" href="/stock/name/ascending">View All</a>
        <table class="w-100 products">
            <thead>
                <tr>
                    <th colspan="2">&nbsp;&nbsp;Product</th>
                    <th>No. of Purchases</th>
                    <th>Stock</th>
                    <th>Threshold</th>
                </tr>
            </thead>

            <tbody>
              {% for product in lowStockList %}
                <tr class="lowStock">
                  <td><img class="thumbnail" src="/static/images/{{ product.get_thumbnail() }}" alt="thumbnail"></td>
                  <td class="name">{{ product.get_product_name() }}</td>
                  <td class="serial-no">{{ product.get_serial_no() }}</td>
                  <td class="quantity">{{ product.get_quantity() }}</td>
                  <td class="threshold">{{ product.get_stock_threshold() }}</td>
                </tr>
              {% endfor %}

              {% for product in midStockList %}
                <tr class="midStock">
                  <td><img class="thumbnail" src="/static/images/{{ product.get_thumbnail() }}" alt="thumbnail"></td>
                  <td class="name">{{ product.get_product_name() }}</td>
                  <td class="serial-no">{{ product.get_serial_no() }}</td>
                  <td class="quantity">{{ product.get_quantity() }}</td>
                  <td class="threshold">{{ product.get_stock_threshold() }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div> <!--Row 1, Stock-->

<div class="row justify-content-center mt-2">
    <div class="col-lg-5 dashboard-block p-4 my-2 small-block-1">
        <h2 class="d-inline">Best-Sellers</h2>
        <a class="btn d-inline float-right mt-1 mb-2" href="/productStats/purchase/descending">View All</a>
        <div class="col mt-4" id="purchasesGraph"></div>
        <script>
          var purchasesData = {{purchasesGraph | safe}};
          purchasesData.layout = { yaxis: {automargin: true}, margin: {t:0, b:0}, height: 250};
          var chart = Plotly.newPlot("purchasesGraph", purchasesData.data, purchasesData.layout, {responsive: true, displayModeBar:false});
        </script>
    </div>

    <div class="col-lg-5 dashboard-block p-4 my-2 small-block-2">
        <h2 class="d-inline">Most-Viewed Items</h2>
        <a class="btn d-inline float-right mt-1 mb-2" href="/productStats/view/descending">View All</a>
        <div class="col mt-4" id="viewsGraph"></div>
        <script>
          var viewsData = {{viewsGraph | safe}};
          viewsData.layout = { yaxis: {automargin: true}, margin: {t:0, b:0}, height: 250};
          var chart = Plotly.newPlot("viewsGraph", viewsData.data, viewsData.layout, {responsive: true, displayModeBar:false});
        </script>
    </div>
</div> <!--Row 2, Stats-->

<div class="row justify-content-center">
    <div class="col-lg-10 dashboard-block p-4 mx-2 my-2">
        <h2 class="d-inline">Transactions</h2>
        <a class="btn d-inline float-right mt-1 mb-2" href="/transactions">View All</a>
        <table class="w-100" id="transactions">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>No. of Items</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Tan Tok Seng</td>
                    <td>100</td>
                    <td>$300.00</td>
                </tr>

                <tr>
                    <td>Jack Ho</td>
                    <td>3</td>
                    <td>$33.00</td>
                </tr>
                <tr>
                    <td>Anna Koh</td>
                    <td>2</td>
                    <td>$9.90</td>
                </tr>

                <tr>
                    <td>Lee Bin Bo</td>
                    <td>50</td>
                    <td>$90.00</td>
                </tr>
                <tr>
                    <td>Patrick Star</td>
                    <td>1</td>
                    <td>$29.90</td>
                </tr>
                <tr>
                    <td>Karen McKenzy</td>
                    <td>5</td>
                    <td>$30.50</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> <!--Row 3, Transactions-->

{% endblock %}
