{% extends "base.html" %}
{% block title %}Delivery details{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/details.css">{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="my-4">Particulars</h1>
        <form class="delivery" method= "POST" >
               <div class="form-group">
                      {{ render_field(form.Street_Name, class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.Postal_Code, class="") }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.Unit_No, class="form-control") }}
                    </div>
               <div class="form-group">
                   <div class="form-group">
                    {{ render_field(form.Date, class="form-control") }}
                   </div>

                   <div class="form-group">
                    {{ render_field(form.Time, class="form-control") }}
                    </div>
               </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary center-block">Submit</button>
                </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
