{% extends "admin_base.html" %}
{% block title %}Add Product{% endblock %}
{% block style %}
<style>
  table td {
    verticle-align: middle;
  }
</style>
{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<div class="row justify-content-center mt-4">
  <div class="col-md-11">
    <h1 class="d-inline">Set Discount</h1>

    <ul class="nav nav-tabs my-4">
      <li class="nav-item active"><a class="nav-link active" href="#percentage" data-toggle="tab">By Percentage</a></li>
      <li class="nav-item"><a class="nav-link" href="#amount" data-toggle="tab">By Amount</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active in" id="percentage">
        <form method="POST" action="">
          <div class="col-md-4 form-group">
              {{ render_field(AddDiscountPercentage.discount_code, class = 'form-control') }}
          </div>

          <div class="col-md-4 form-group">
              {{ render_field(AddDiscountPercentage.discount_condition, class = 'form-control') }}
          </div>
          <div class="col-md-4 form-group">
              {{ render_field(AddDiscountPercentage.discount_start, class = 'form-control') }}
          </div>
          <div class="col-md-4 form-group">
              {{ render_field(AddDiscountPercentage.discount_expiry, class = 'form-control') }}
          </div>

          <div class="col-md-4 form-group">
              {{ render_field(AddDiscountPercentage.discount_percentage, class = 'form-control') }}
          </div>

          <div class="col-md-4">
            <input type="submit" value="Submit" class="btn"/>
          </div>
        </form>

        <div class="table">
          <table class="table mt-4">
            <thead>
              <tr>
                <th>Discount Code</th>
                <th>Condition</th>
                <th>Start</th>
                <th>Expire</th>
                <th>Percentage</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              {%for code in percentage_discounts%}
                <tr>
                  <td>{{percentage_discounts[code].get_code()}}</td>
                  <td>{{percentage_discounts[code].get_condition()}}</td>
                  <td>{{percentage_discounts[code].get_start_date()}}</td>
                  <td>{{percentage_discounts[code].get_expiry_date()}}</td>
                  <td>{{percentage_discounts[code].get_discount_percentage()}}</td>
                  <td><form action="{{url_for('deleteDiscount', code=percentage_discounts[code].get_code())}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                  </form></td>
                </tr>

                {%endfor%}
            </tbody>
          </table>
        </div> <!--Table-->

      </div> <!--Tab Pane Active-->

      <div class="tab-pane fade pb-4" id="amount">
        <form method="POST" action="">

        <div class="col-md-4 form-group">
            {{ render_field(AddDiscountAmount.discount_code, class = 'form-control') }}
        </div>

        <div class="col-md-4 form-group">
            {{ render_field(AddDiscountAmount.discount_condition, class = 'form-control') }}
        </div>
        <div class="col-md-4 form-group">
            {{ render_field(AddDiscountAmount.discount_start, class = 'form-control') }}
        </div>
        <div class="col-md-4 form-group">
            {{ render_field(AddDiscountAmount.discount_expiry, class = 'form-control') }}
        </div>

        <div class="col-md-4 form-group">
            {{ render_field(AddDiscountAmount.discount_amount, class = 'form-control') }}
        </div>

        <div class="col-md-4">
          <input type="submit" value="Submit" class="btn"/>
        </div>
        </form>
        <div class="table">
          <table class="table mt-4">
            <thead>
              <tr>
                <th>Discount Code</th>
                <th>Condition</th>
                <th>Start</th>
                <th>Expire</th>
                <th>Amount</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
                {%for code in amount_discounts%}

                  <tr>
                    <td class="align-middle">{{amount_discounts[code].get_code()}}</td>
                    <td class="align-middle">{{amount_discounts[code].get_condition()}}</td>
                    <td class="align-middle">{{amount_discounts[code].get_start_date()}}</td>
                    <td class="align-middle">{{amount_discounts[code].get_expiry_date()}}</td>
                    <td class="align-middle">{{amount_discounts[code].get_discount_amount()}}</td>
                    <td class="align-middle">
                      <form action="{{url_for('deleteDiscount', code = amount_discounts[code].get_code())}}" method="post">
                        <input type="submit" value="Delete" class="btn redButton">
                      </form>
                    </td>
                  </tr>

                  {%endfor%}
              </tbody>
          </table>
        </div> <!--Table-->

      </div>
    </div>
  </div>
</div>

{% endblock %}
