{% extends "admin_base.html" %}
{% block title %}Add Product{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/productSettings.css">{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<div class="row justify-content-center mt-4">
  <div class="col-md-11">
    <h1 class="d-inline">Set Discount</h1>

    <ul class="nav nav-tabs my-4">
      <li class="nav-item active"><a class="nav-link active" href="#percentage" data-toggle="tab">By percentage</a></li>
      <li class="nav-item"><a class="nav-link" href="#amount" data-toggle="tab">By amount</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active in" id="percentage">

        <form method="POST" action="">

        <div class="col-md-4">
            {{ render_field(AddDiscount.discount_code, class = 'form-control') }}
        </div>

        <div class="col-md-4">
            {{ render_field(AddDiscount.discount_condition, class = 'form-control') }}
        </div>
        <div class="col-md-4">
            {{ render_field(AddDiscount.discount_start, class = 'form-control') }}
        </div>
        <div class="col-md-4">
            {{ render_field(AddDiscount.discount_expiry, class = 'form-control') }}
        </div>

        <div class="col-md-4">
            {{ render_field(AddDiscount.discount_percentage, class = 'form-control') }}
        </div>

        <input type="submit" value="Submit" class="btn"/>
        </form>
      </div>


        <div class="tab-pane fade pb-4" id="amount">

          <form method="POST" action="">

          <div class="col-md-4">
              {{ render_field(AddDiscount.discount_code, class = 'form-control') }}
          </div>

          <div class="col-md-4">
              {{ render_field(AddDiscount.discount_condition, class = 'form-control') }}
          </div>
          <div class="col-md-4">
              {{ render_field(AddDiscount.discount_start, class = 'form-control') }}
          </div>
          <div class="col-md-4">
              {{ render_field(AddDiscount.discount_expiry, class = 'form-control') }}
          </div>

          <div class="col-md-4">
              {{ render_field(AddDiscount.discount_amount, class = 'form-control') }}
          </div>

          <input type="submit" value="Submit" class="btn"/>
          </form>

        </div>
        </div>
        </div>
        </div>


  {% endblock %}
