{% extends "base.html" %}
{% block title %} Delorem Ipsum {% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/items.css">{% endblock %}


{% block content %}
<h2 class='header'> Welcome to our FAQ page!</h2>
<hr>
<div class="ContactUs">
    <h3> Contact Us </h3>
    <p>Head Office<br>
    80 Anson Road<br>
    #10-00 Fuji Xerox Tower<br>
    Singapore 079907
    </p>

    <h3> Customer Service Hotline </h3>
    <p>+65 6363 2005</p>

    <h3>Operating Hours</h3>
    <p>Monday to Friday<br>
    8am - 6pm<br>
    (Excluding Public Holidays)
    </p>

    <h3> Email Address </h3>
    <p>contactus@deloremipsum.com.sg</p>

</div>
<style>
  .header {
    text-align: center;
    color: blue;
    margin: 20px;
  }
  .ContactUs{
    margin: 20px;
    text-align: center;
  }
</style>

{% endblock %}
