<p>Hello {{current_user.get_username()}},</p>

<p>Here is your e-receipt for your purchase, order id: {{current_user.get_transactions()[-1]}}825636
<br>Thank you for shopping with us.</p>
  <table>
    <thead>
      <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
{% for key in cart %}

<tr>
  <td>{{products[key].get_product_name()}}</td>
  <td>${{products[key].get_price()}}</td>
  <td>{{cart[key]}}</td>
</tr>


{% endfor %}
</tbody>
</table>

<p>Total : ${{total - deducted}}</p>

{%for product in cartList%}
<img src="/static/images/{{product.get_thumbnail()}}" alt="">
{%endfor%}




<p>Best,</p>
<p>The team at Delorem Ipsum</p>
