{% extends "base.html" %}
{% block title %}Drug Store - Brands{% endblock %}
{% block style %}<link rel="stylesheet" type = "text/css" href = "/static/styles/items.css">{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="listOfBrands">Brands</a></li>
  </ol>
</nav>

{%for key in brandsDict%}
<h3>{{key}}</h3>
<hr>
<ul>
  {%for brand in brandsDict[key]%}
  <li><a href="">{{brand}}<a></li>
{%endfor%}
</ul>
{%endfor%}


</div>

{%endblock%}
