{% extends "base.html" %}
{% block title %}Log In | Sign Up{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/styles/login.css">{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<div class="row justify-content-center">
  <div class="col-xs-8 col-md-8 col-lg-5">
    <ul class="nav nav-tabs nav-justified my-4">
      {% if unique_email or unique_username %}
      <li class="nav-item active"><a class="nav-link active" href="#login" data-toggle="tab">Log In</a></li>
      <li class="nav-item"><a class="nav-link" href="#signUp" data-toggle="tab">Sign Up</a></li>
      {% else %}
      <li class="nav-item active"><a class="nav-link" href="#login" data-toggle="tab">Log In</a></li>
      <li class="nav-item"><a class="nav-link active" href="#signUp" data-toggle="tab">Sign Up</a></li>
      {% endif %}
    </ul>
    {% if unique_email %}
    <!-- Login Tab -->
    <div class="tab-content">
      <div class="tab-pane active in" id="login">
        <form method="POST" action="">
          <div class="form-group">
            {{ render_field(form.username, class="form-control") }}
          </div>
          <div class="form-group">
            {{ render_field(form.password, class="form-control") }}
            {% if not username_correct %}
            <p style="color:#dc3545"> Your username or password was incorrect. Please try again. </p>
            {% endif %}
          </div>
          <input type="submit" value="Submit" class="btn" onclick="successLogin();"/>

        </form>
      </div>
      <!-- Registration Tab -->
      <div class="tab-pane fade" id="signUp">
        <form method="POST" action="{{url_for('login')}}">
          <div class="form-group">
            {{ render_field(form2.email, class="form-control") }}
            {% if not valid_email_registration %}
            <p style="color:#dc3545"> Email format incorrect, please try again. </p>
            {% endif %}
          </div>
          <div class="form-group">
            {{ render_field(form2.username, class="form-control") }}
            {% if not unique_username %}
            <p style="color:#dc3545"> Username in use, you cannot create an account with the same username. </p>
            {% endif %}
          </div>
          <div class="form-group">
            {{ render_field(form2.password, class="form-control") }}
            {% if not secure_pwd %}
            <p style="color:#dc3545"> Please enter a password containing at least 6 letters, 1 numeral, and 1 uppercase letter. </p>
            {% endif %}
          </div>
          <div class="form-group">
            {{ render_field(form2.confirm, class="form-control") }}
          </div>
          <button value="Submit" class="btn">Submit</button>
        </form>
      </div>
    </div>

    {% else %}
    <!-- Login Tab -->
    <div class="tab-content">
      <div class="tab-pane fade" id="login">
        <form method="POST" action="">
          <div class="form-group">
            {{ render_field(form.username, class="form-control") }}
          </div>
          <div class="form-group">
            {{ render_field(form.password, class="form-control") }}
            {% if not username_correct %}
            <p style="color:#dc3545"> Your username or password was incorrect. Please try again. </p>
            {% endif %}
          </div>
          {% if success_login %}
          <input type="submit" value="Submit" class="btn" onclick="successLogin();" />
          {% else %}
          <input type="submit" value="Submit" class="btn" />
          {% endif %}
        </form>
      </div>
      <!-- Registration Tab -->
      <div class="tab-pane active in" id="signUp">
        <form method="POST" action="{{url_for('login')}}">
          <div class="form-group">
            {{ render_field(form2.email, class="form-control") }}
            <p style="color:#dc3545"> Email in use, you cannot create an account with the same email. </p>
            {% if not valid_email_registration %}
            <p style="color:#dc3545"> Email format incorrect, please try again. </p>
            {% endif %}
          </div>
          <div class="form-group">
            {{ render_field(form2.username, class="form-control") }}
            {% if not unique_username %}
            <p style="color:#dc3545"> Username in use, you cannot create an account with the same username. </p>
            {% endif %}
          </div>
          <div class="form-group">
            {{ render_field(form2.password, class="form-control") }}
            {% if not secure_pwd %}
            <p style="color:#dc3545"> Please enter a password containing at least 6 letters, 1 numeral, and 1 uppercase letter. </p>
            {% endif %}
          </div>
          <div class="form-group">
            {{ render_field(form2.confirm, class="form-control") }}
          </div>
          <button value="Submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
