{% extends "base.html" %}
{% block title %} My Account {% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/items.css">{% endblock %}

{% block content %}
<div id="main">
  <button class="openbtn" onclick="openNav()">☰</button>
</div>
<div class="signup-w3ls">
  <div class="signup-agile1">
    <form action="#" method="post">
      <h2> Order History </h2>
      {% for transaction in current_transac_list %}
      {% for item in items[transaction].get_items() %}
      <div class=items-block>
        <ul id="items">
          <article class="item">
            <!-- <a href="{{url_for('IndItem', serialNo=item.get_serial_no)}}" class="item-link"> -->
            <div class="item-img">
              <img src="/static/images/{{item.get_thumbnail()}}">
            </div>
            <div class="item-caption-box">
              <div class="item-caption">
                <div>
                  <p class="item-description">{{item.get_description()}}</p>
                </div>
              </div>
            </div>
            <p> Quantity: {{item.get_quantity()}}</p>
            <p class="price-box">
              <span class="price-small">${{item.get_price()}}</span>
            </p>
            <p> You bought this on: {{date_of_order}}</p>
            <!-- </a> -->
          </article>
        </ul>
      </div>
      {% endfor %}
      {% endfor %}
  </div>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/orderHistory">Order History</a>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }

    function alertchanges() {
      alert("Changes added!");
    }
  </script>
  <style>
    body {
      /* font-family: "Lato", sans-serif; */
    }

    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1021;
      /* z-index must be above navbar (1020) */
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidebar a:hover {
      color: #f1f1f1;
    }

    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    .openbtn {
      background-color: #84a220;
      color: white;
      border: #84a220;
      font-size: 20px;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 5px;
      margin: 16px;
    }

    .openbtn:hover {
      background-color: #36b051;
    }

    #main {
      transition: margin-left .5s;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar {
        padding-top: 15px;
      }

      .sidebar a {
        font-size: 18px;
      }
    }
  </style>

</div>
</div>

<style>
  .signup-w3ls {
    width: 50%;
    margin: 5px 25% 80%;
    padding: 0;
    display: table;
    position: relative;
    text-align: center;
  }

  .signup-agile1 {
    width: 100%;
    float: center;
  }

  .signup-w3ls .signup-agile1 .form-control-user {
    margin-bottom: 20px;
  }

  label.header {
    font-size: 20px;
    font-weight: 500;
    width: 215px;
    color: #36b051;
    margin-right: 10px;
    text-align: justify;
    letter-spacing: 1px;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif
  }

  input#username,
  input#shipping_address,
  input#contact_number,
  input#contact_email {
    padding: 0 40px;
    width: 40%;
    height: 55px;
    border: 1px solid #dadada;
    color: grey;
    text-align: justify;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Muli', sans-serif;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
  }


  input#username:focus,
  input#shipping_address:focus,
  input#contact_number:focus,
  input#contact_email:focus {
    background-color: #f5f8fa !important;
    border: 1px solid #36b051;
  }

  input::-webkit-input-placeholder {
    color: grey;
  }

  input:-moz-placeholder {
    /* Firefox 18- */
    color: grey;
  }

  input::-moz-placeholder {
    /* Firefox 19+ */
    color: grey;
  }

  input:-ms-input-placeholder {
    color: grey;
  }

  .register {
    background-color: #84a220;
    width: 40%;
    height: 55px;
    border: none;
    margin-left: 233px;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    font-family: 'Muli', sans-serif;
  }

  .register:hover {
    background-color: #36b051;
    color: #fff;
  }
</style>

{% endblock %}
