{% extends "admin_base.html" %}
{% block title %}Products{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/products.css">{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-11 mt-3">
    <h1 class="d-inline">Catalog</h1>
    <a class="btn d-inline float-right mt-1" href="/addProduct">+ Add Product</a>
  </div>

  <div class="col-md-11">
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Name <a href="/products/name/ascending"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                   <a href="/products/name/descending"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
          </th>
          <th>Brand <a href="/products/brand/ascending"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                    <a href="/products/brand/descending"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
          </th>
          <th>Sub-Category <a href="/products/sub-category/ascending"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                           <a href="/products/sub-category/descending"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
          </th>
          <th>Serial No. <a href="/products/serial-no/ascending"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                         <a href="/products/serial-no/descending"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
          </th>
          <th>Price <a href="/products/price/ascending"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                    <a href="/products/price/descending"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
          </th>
          <th>Quantity <a href="/products/quantity/ascending"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                       <a href="/products/quantity/descending"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
          </th>
          <th>Show/Hide <a href="/products/activated/ascending"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                        <a href="/products/activated/descending"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for product in productList %}
          <tr>
            <td><img src="/static/images/{{ product.get_thumbnail() }}" alt="thumbnail"></td>
            <td>{{ product.get_product_name() }}</td>
            <td>{{ product.get_brand() }}</td>
            <td>{{ product.get_sub_category() }}</td>
            <td>{{ product.get_serial_no() }}</td>
            <td>${{ product.get_price() }}</td>
            <td>{{ product.get_quantity() }}

            {% if product.get_activated()==True %}
            <td>Show</td>
            {% else %}
            <td>Hide</td>
            {% endif %}

            <td><a href="/productSettings/{{ product.get_serial_no() }}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
