{% extends "admin_base.html" %}
{% block title %}Products{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/products.css">{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-11 mt-3">
    <h1 class="d-inline">Catalog</h1>
    <a class="btn d-inline float-right mt-1" href="addProduct">+ Add Product</a>
  </div>

  <div class="col-md-11">
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Name <a href="/products/name/ascending">Up</a> <a href="/products/name/descending">Down</a></th>
          <th>Brand <a href="/products/brand/ascending">Up</a> <a href="/products/brand/descending">Down</a></th>
          <th>Sub-Category <a href="/products/sub-category/ascending">Up</a> <a href="/products/sub-category/descending">Down</a></th>
          <th>Serial No. <a href="/products/serial-no/ascending">Up</a> <a href="/products/serial-no/descending">Down</a></th>
          <th>Price <a href="/products/price/ascending">Up</a> <a href="/products/price/descending">Down</a></th>
          <th>Quantity <a href="/products/quantity/ascending">Up</a> <a href="/products/quantity/descending">Down</a></th>
          <th>Show/Hide <a href="/products/activated/ascending">Up</a> <a href="/products/activated/descending">Down</a></th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        {% for product in productList %}
          <tr>
            <td><img src="/static/images/{{ product.get_thumbnail() }}" alt="{{ product.get_product_name() }} thumbnail"></td>
            <td>{{ product.get_product_name() }}</td>
            <td>{{ product.get_brand() }}</td>
            <td>{{ product.get_sub_category() }}</td>
            <td>{{ product.get_serial_no() }}</td>
            <td>${{ product.get_price() }}</td>
            <td>{{ product.get_quantity() }}

            {% if product.get_activated()==True %}
            <td>Show</td>
            {% else %}
            <td>Hide</td>
            {% endif %}

            <td><a href="/productSettings/{{ product.get_serial_no() }}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
