{% extends "base.html" %}
{% block title %}Summary{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/styles/summary.css">{% endblock %}
{% block content %}

<h1 class="text-center mt-4 mb-3">Overall details</h1>

<div class="row justify-content-center">
  {% if type %}
  <div class="col-md-7 box pt-4">
      <h4 class="font-weight-bold text-center mt-2">DELIVERY DETAILS</h4>

      <table class="mx-auto">
        <tbody>
          <tr>
            <th class="text-right pr-2">Street Name:</th>
            <td class="p-2">{{details.get_street_name()}}</td>
          </tr>

          <tr>
            <th class="text-right pr-2">Postal Code:</th>
            <td class="p-2">{{details.get_postal_code()}}</td>
          </tr>

          <tr>
            <th class="text-right pr-2">Unit No.:</th>
            <td class="p-2">{{details.get_unit_no()}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
  </div>

  <div class="col-md-7 box pt-4">
    <h4 class="font-weight-bold text-center">PAYMENT DETAILS</h4>

    <table class="mx-auto">
      <tbody>
        <tr>
          <th class="text-right pr-2">Name:</th>
          <td class="p-2">{{details.get_name()}}</td>
        </tr>

        <tr>
          <th class="text-right pr-2">Contact No.:</th>
          <td class="p-2">{{details.get_phone()}}</td>
        </tr>

        <tr>
          <th class="text-right pr-2">Email:</th>
          <td class="p-2">{{details.get_email()}}</td>
        </tr>

        <tr>
          <th class="text-right pr-2">Credit Card No.:</th>
          <td class="p-2">{{details.get_credit_card_number()}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {% else %}
    <div class="col-md-7 box pt-4">
      <h4 class="font-weight-bold text-center">PAYMENT DETAILS</h4>

      <table class="mx-auto">
        <tbody>
          <tr>
            <th class="text-right pr-2">Name:</th>
            <td class="p-2">{{details.get_name()}}</td>
          </tr>

          <tr>
            <th class="text-right pr-2">Name:</th>
            <td class="p-2">{{details.get_name()}}</td>
          </tr>

          <tr>
            <th class="text-right pr-2">Contact No.:</th>
            <td class="p-2">{{details.get_phone()}}</td>
          </tr>

          <tr>
            <th class="text-right pr-2">Email:</th>
            <td class="p-2">{{details.get_email()}}</td>
          </tr>

          <tr>
            <th class="text-right pr-2">Credit Card No.:</th>
            <td class="p-2">{{details.get_credit_card_number()}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>

    <div class="col-md-7 box pt-4">
      <h4 class="font-weight-bold text-center">COLLECTION DETAILS</h4>

      <table class="mx-auto">
        <tbody>
          <tr>
            <th class="text-right pr-2">Collection Date</th>
            <td class="p-2">{{details.get_date()}}</td>
          </tr>

          <tr>
            <th class="text-right pr-2">Collection Time</th>
            <td class="p-2">{{details.get_time()}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}
</div>

<div class="row justify-content-center text-center">
  <div class="col-md-7 box p-4 flex-content">
      <button type="submit" onclick="history.go(-1)"class="btn btn-secondary mr-4">Edit</button>

      <a href="{{url_for('deliveryInvoice', email=details.get_email())}}" class="ml-4">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"> Confirm</button>
      </a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delivery Order has been confirmed! Do you want to fill in a feedback form?
      </div>
      <div class="modal-footer">
        <form action="{{url_for('confirm', type = 'feedback')}}" method="POST">
          <button class="btn btn-success"  value="submit">Yes</button>
        </form>
        <form action="{{url_for('confirm', type='home')}}" method="POST">
          <button class="btn btn-danger" value="submit">No</button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
