{% extends "base.html" %}
{% block title %}Drug Store - Items{% endblock %}
{% block style %}<link rel="stylesheet" type = "text/css" href = "/static/styles/items.css">{% endblock %}
{% block content %}



<div class="main-body">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Health</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ subCategory }}</li>
      </ol>
    </nav>
    <h3 class="">Supplements</h3>
    <form action="">
        <p class="float-left">Sort By:</p>
        <select>
            <option value="popularity">Popularity</option>
            <option value="price lowest to highest">Price low to high</option>
            <option value="price highest to lowest">Price high to low</option>
            <option value="what's new">What's New</option>
        </select>
    </form>
        <div class="tertiary-body">
            <p class="results-number">{{ modalCount }} results found</p>
            <div class="items-block">
              {% for product in productList %}
                <article class="item">
                <a href="#" class="item-link">
                    <div class="item-img">
                        <img src="/static/images/{{product.get_thumbnail()}}">
                    </div>
                    <div class="item-caption-box">
                        <div class="item-caption">
                            <div>
                                <p class="item-description">{{product.get_product_name()}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="price-box">
                        <span class="price">${{product.get_price()}}</span>
                    </p>
                </a>
                    <button type="button" data-toggle="modal" data-target="#{{modalCount}}" class="quick-view">Quick View</button>
                    <div class="modal fade" id="{{modalCount}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialogue-centered" role="document">
                            <div class="modal-content">
                                <div class="item-img">
                                <img src="/static/images/{{product.get_thumbnail()}}">
                                </div>
                                <div class="modal-header">
                                    <h5 class="modal-title"><strong>{{product.get_product_name()}}</strong></h5>
                                </div>
                                <div class="modal-body">
                                    <h6>Product Description</h6>
                                    <p>Natures Aid Chewable Vitamin C offers a great solution for people who struggle to swallow a large tablet.</p>
                                    <p>Size: 100 Tablets</p>
                                    <p class="price-box">
                                        <span class="price">${{product.get_price()}}</span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success"><i class="icon-shopping-cart">   Buy Now</i></button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
              {% endfor %}              
                            </div>
                        </div>
                    </div>
                </article>
            </div>
         </div>
</div>
{% endblock %}
