{% extends "admin_base.html" %}
{% block title %}Transactions{% endblock %}
{% block style %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-11 mt-3">
    <h1 class="d-inline">Transactions</h1>
  </div>

  <div class="col-md-11 mt-3">
    {% for transaction in deliveryList %}
    {% set id = '{{ transaction.get_id() }}' %}
    <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-target="#{{id}}" aria-expanded="true" aria-controls="collapseOne">
            {{ transaction.get_id() }}
          </a>
        </h5>
      </div>

      <div id="{{id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <b>Name:</b> {{ transaction.get_name() }}
          <br><br>
          <b>Phone:</b> {{ transaction.get_phone() }}
          <br><br>
          <b>Email:</b> {{ transaction.get_email() }}
          <br><br>
          <b>Payment Mode:</b> {{ transaction.get_payment_mode() }}
          <br><br>
          <b>Credit Card no.:</b> {{ transaction.get_credit_card_number() }}
          <br><br>
          {% if 1==2 %}
          <b>Street Name:</b> {{ transaction.get_street_name() }}, #{{ transaction.get_unit_no() }}, S{{ transaction.get_postal_code() }}
          <br><br>
          {% endif %}
          <b>Items:</b>
            <ol>
              {% for item in transaction.get_items() %}
                <li>{{ item.get_product_name() }} ({{ item.get_serial_no() }}) - Quantity: {{ item.get_quantity() }}<br>
              {% endfor %}
            </ol>
          <br>
          <b>Total:</b> ${{ transaction.get_total() }}
        </div>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
