{% extends "admin_base.html" %}
{% block title %}Transactions{% endblock %}
{% block style %}
<style>
  table tbody tr:hover {
      background-color: inherit;
  }

  .internal-product-table thead tr th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .internal-product-table thead tr {
    background-color: inherit;
  }

  #dcAlert, #ucAlert {
    display: none;
    color: Red;
  }
</style>
{% endblock %}

{% block content %}
{% from "includes/_admin_formhelper.html" import render_field %}
<div class="row justify-content-center">
  <div class="col-md-11 d-flex justify-content-between mt-4">
    <h1>Transactions</h1>
    <button type="button" class="btn" data-toggle="modal" data-target="#exportModal">
      <i class="fa fa-download"></i> Export
    </button>
  </div>

  <div class="col-md-11 mt-3">
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item active"><a class="nav-link active" href="#deliveries" data-toggle="tab">Delivery</a></li>
      <li class="nav-item"><a class="nav-link" href="#collections" data-toggle="tab">Collection</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active in" id="deliveries">
        <h2 class="d-inline mr-3">Not Delivered</h2>
        {% if deliveryNotCompleteList|length==0 %}
          <p>&nbsp;No new orders.</p>
        {% else %}
          <form action="" method="POST" class="d-inline">
            <input type="submit" class="btn mb-3 stopProp" value="Mark as Complete">
            <div id="accordion">
            {% for transaction in deliveryNotCompleteList %}
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <input type="checkbox" value="{{ transaction.get_id() }}" name="dMarkAsComplete" class="check">
                      <a data-toggle="collapse" data-target="#s{{ transaction.get_id() }}" aria-expanded="true" aria-controls="collapseOne">
                        {{ transaction.get_date_of_order() }} - ID {{ transaction.get_id() }}
                    </h5>
                  </div> <!--Card Header-->

                  <div id="s{{ transaction.get_id() }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Status</th>
                            <td colspan="5">{% if transaction.get_completion()==True %}Delivered{% else %}Undelivered{% endif %}</td>
                          </tr>

                          <tr>
                            <th>Date of Order</th>
                            <td colspan="5">{{ transaction.get_date_of_order() }}</td>
                          </tr>

                          <tr>
                            <th>Name</th>
                            <td colspan="5">{{ transaction.get_name() }}</td>
                          </tr>

                          <tr>
                            <th>Contact No.</th>
                            <td>{{ transaction.get_phone() }}</td>
                            <th>Email</th>
                            <td>{{ transaction.get_email() }}</td>
                            <td colspan="2"></td>
                          </tr>

                          <tr>
                            <th>Payment Mode</th>
                            <td>{{ transaction.get_payment_mode() }}</td>
                            <td colspan="4"></td>
                          </tr>

                          <tr>
                            <th>Credit Card No.</th>
                            <td>{{ transaction.get_credit_card_number() }}</td>
                            <th>Expiry Date</th>
                            <td>{{ transaction.get_credit_card_expiry() }}</td>
                            <th>CVV</th>
                            <td> {{ transaction.get_credit_card_cvv() }}</td>
                          </tr>

                          <tr>
                            <th>Address</th>
                            <td colspan="5">{{ transaction.get_street_name() }}, #{{ transaction.get_unit_no() }} (S{{ transaction.get_postal_code() }})</td>
                          </tr>

                          <tr>
                            <th>Items</th>
                            <td colspan="5">
                              <table class="internal-product-table">
                                <thead>
                                  <tr>
                                    <th>Product Name (Serial No.)</th>
                                    <th>Quantity</th>
                                  </tr>
                                </thead>
                                {% for item in transaction.get_items() %}
                                <tbody>
                                  <tr>
                                    <td>{{ item.get_product_name() }} ({{ item.get_serial_no() }})</td>
                                    <td>{{ item.get_quantity() }}</td>
                                  </tr>
                                </tbody>
                                {% endfor %}
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <th>Total</th>
                            <td colspan="5">${{ transaction.get_total() }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div> <!--Card Body-->
                  </div> <!--Drop Content-->
                </div> <!--Card-->
            {% endfor %}
            </div> <!--Accordion-->
          </form>
        {% endif %}

        <br><br>
        <h2 class="d-inline mr-3">Delivered</h2>
        {% if deliveryCompleteList|length==0 %}
          <p>&nbsp;No completed delivery orders.</p>
        {% else %}
          <form action="" method="POST" class="d-inline">
            <input type="submit" class="btn mb-3 stopProp" value="Mark as Incomplete">
            <div id="accordion">
            {% for transaction in deliveryCompleteList %}
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <input type="checkbox" value="{{ transaction.get_id() }}" name="dMarkAsIncomplete" class="check">
                      <a data-toggle="collapse" data-target="#s{{ transaction.get_id() }}" aria-expanded="true" aria-controls="collapseOne">
                        {{ transaction.get_date_of_order() }} - ID {{ transaction.get_id() }}
                    </h5>
                  </div> <!--Card Header-->

                  <div id="s{{ transaction.get_id() }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Status</th>
                            <td colspan="5">{% if transaction.get_completion()==True %}Delivered{% else %}Undelivered{% endif %}</td>
                          </tr>

                          <tr>
                            <th>Date of Order</th>
                            <td colspan="5">{{ transaction.get_date_of_order() }}</td>
                          </tr>

                          <tr>
                            <th>Name</th>
                            <td colspan="5">{{ transaction.get_name() }}</td>
                          </tr>

                          <tr>
                            <th>Contact No.</th>
                            <td>{{ transaction.get_phone() }}</td>
                            <th>Email</th>
                            <td>{{ transaction.get_email() }}</td>
                            <td colspan="2"></td>
                          </tr>

                          <tr>
                            <th>Payment Mode</th>
                            <td>{{ transaction.get_payment_mode() }}</td>
                            <td colspan="4"></td>
                          </tr>

                          <tr>
                            <th>Credit Card No.</th>
                            <td>{{ transaction.get_credit_card_number() }}</td>
                            <th>Expiry Date</th>
                            <td>{{ transaction.get_credit_card_expiry() }}</td>
                            <th>CVV</th>
                            <td> {{ transaction.get_credit_card_cvv() }}</td>
                          </tr>

                          <tr>
                            <th>Address</th>
                            <td colspan="5">{{ transaction.get_street_name() }}, #{{ transaction.get_unit_no() }} (S{{ transaction.get_postal_code() }})</td>
                          </tr>

                          <tr>
                            <th>Items</th>
                            <td colspan="5">
                              <table class="internal-product-table">
                                <thead>
                                  <tr>
                                    <th>Product Name (Serial No.)</th>
                                    <th>Quantity</th>
                                  </tr>
                                </thead>
                                {% for item in transaction.get_items() %}
                                <tbody>
                                  <tr>
                                    <td>{{ item.get_product_name() }} ({{ item.get_serial_no() }})</td>
                                    <td>{{ item.get_quantity() }}</td>
                                  </tr>
                                </tbody>
                                {% endfor %}
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <th>Total</th>
                            <td colspan="5">${{ transaction.get_total() }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div> <!--Card Body-->
                  </div> <!--Drop Content-->
                </div> <!--Card-->
            {% endfor %}
            </div> <!--Accordion-->
          </form>
        {% endif %}
      </div> <!--Tab Pane - Delivery -->

      <div class="tab-pane fade pb-4" id="collections">
        <h2 class="d-inline mr-3">Not Collected</h2>
        {% if collectionNotCompleteList|length==0 %}
          <p>&nbsp;No new orders.</p>
        {% else %}
          <form action="" method="POST" class="d-inline">
            <input type="submit" class="btn mb-3 stopProp" value="Mark as Complete">
            <div id="accordion">
              {% for transaction in collectionNotCompleteList %}
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <input type="checkbox" value="{{ transaction.get_id() }}" name="cMarkAsComplete" class="check">
                      <a data-toggle="collapse" data-target="#s{{ transaction.get_id() }}" aria-expanded="true" aria-controls="collapseOne">
                        {{ transaction.get_date_of_order() }} - ID {{ transaction.get_id() }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Collection on {{ transaction.get_date() }} at {{ transaction.get_time() }}
                      </a>
                    </h5>
                  </div>

                  <div id="s{{ transaction.get_id() }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Status</th>
                            <td colspan="5">{% if transaction.get_completion()==True %}Collected{% else %}Uncollected{% endif %}</td>
                          </tr>

                          <tr>
                            <th>Date of Order</th>
                            <td colspan="5">{{ transaction.get_date_of_order() }}</td>
                          </tr>

                          <tr>
                            <th>Name</th>
                            <td colspan="5">{{ transaction.get_name() }}</td>
                          </tr>

                          <tr>
                            <th>Contact No.</th>
                            <td>{{ transaction.get_phone() }}</td>
                            <th>Email</th>
                            <td>{{ transaction.get_email() }}</td>
                            <td colspan="2"></td>
                          </tr>

                          <tr>
                            <th>Payment Mode</th>
                            <td>{{ transaction.get_payment_mode() }}</td>
                            <td colspan="4"></td>
                          </tr>

                          <tr>
                            <th>Credit Card No.</th>
                            <td>{{ transaction.get_credit_card_number() }}</td>
                            <th>Expiry Date</th>
                            <td>{{ transaction.get_credit_card_expiry() }}</td>
                            <th>CVV</th>
                            <td> {{ transaction.get_credit_card_cvv() }}</td>
                          </tr>

                          <tr>
                            <th>Collection Date</th>
                            <td>{{ transaction.get_date() }}</td>
                            <th>Time</th>
                            <td>{{ transaction.get_time() }}</td>
                          </tr>

                          <tr>
                            <th>Items</th>
                            <td colspan="5">
                              <table class="internal-product-table">
                                <thead>
                                  <tr>
                                    <th>Product Name (Serial No.)</th>
                                    <th>Quantity</th>
                                  </tr>
                                </thead>
                                {% for item in transaction.get_items() %}
                                <tbody>
                                  <tr>
                                    <td>{{ item.get_product_name() }} ({{ item.get_serial_no() }})</td>
                                    <td>{{ item.get_quantity() }}</td>
                                  </tr>
                                </tbody>
                                {% endfor %}
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <th>Total</th>
                            <td colspan="5">${{ transaction.get_total() }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div> <!--Card Body-->
                  </div> <!--Drop Content-->
                </div> <!--Card-->
              {% endfor %}
            </div> <!--Accordion-->
          </form>
        {% endif %}

        <br><br>
        <h2 class="d-inline mr-3">Collected</h2>
        {% if collectionCompleteList|length==0 %}
          <p>&nbsp;No new orders.</p>
        {% else %}
          <form action="" method="POST" class="d-inline">
            <input type="submit" class="btn mb-3 stopProp" value="Mark as Incomplete">
            <div id="accordion">
              {% for transaction in collectionCompleteList %}
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <input type="checkbox" value="{{ transaction.get_id() }}" name="cMarkAsIncomplete" class="check">
                      <a data-toggle="collapse" data-target="#s{{ transaction.get_id() }}" aria-expanded="true" aria-controls="collapseOne">
                        {{ transaction.get_date_of_order() }} - ID {{ transaction.get_id() }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Collection on {{ transaction.get_date() }} at {{ transaction.get_time() }}
                      </a>
                    </h5>
                  </div>

                  <div id="s{{ transaction.get_id() }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Status</th>
                            <td colspan="5">{% if transaction.get_completion()==True %}Collected{% else %}Uncollected{% endif %}</td>
                          </tr>

                          <tr>
                            <th>Date of Order</th>
                            <td colspan="5">{{ transaction.get_date_of_order() }}</td>
                          </tr>

                          <tr>
                            <th>Name</th>
                            <td colspan="5">{{ transaction.get_name() }}</td>
                          </tr>

                          <tr>
                            <th>Contact No.</th>
                            <td>{{ transaction.get_phone() }}</td>
                            <th>Email</th>
                            <td>{{ transaction.get_email() }}</td>
                            <td colspan="2"></td>
                          </tr>

                          <tr>
                            <th>Payment Mode</th>
                            <td>{{ transaction.get_payment_mode() }}</td>
                            <td colspan="4"></td>
                          </tr>

                          <tr>
                            <th>Credit Card No.</th>
                            <td>{{ transaction.get_credit_card_number() }}</td>
                            <th>Expiry Date</th>
                            <td>{{ transaction.get_credit_card_expiry() }}</td>
                            <th>CVV</th>
                            <td> {{ transaction.get_credit_card_cvv() }}</td>
                          </tr>

                          <tr>
                            <th>Collection Date</th>
                            <td>{{ transaction.get_date() }}</td>
                            <th>Time</th>
                            <td>{{ transaction.get_time() }}</td>
                          </tr>

                          <tr>
                            <th>Items</th>
                            <td colspan="5">
                              <table class="internal-product-table">
                                <thead>
                                  <tr>
                                    <th>Product Name (Serial No.)</th>
                                    <th>Quantity</th>
                                  </tr>
                                </thead>
                                {% for item in transaction.get_items() %}
                                <tbody>
                                  <tr>
                                    <td>{{ item.get_product_name() }} ({{ item.get_serial_no() }})</td>
                                    <td>{{ item.get_quantity() }}</td>
                                  </tr>
                                </tbody>
                                {% endfor %}
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <th>Total</th>
                            <td colspan="5">${{ transaction.get_total() }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div> <!--Card Body-->
                  </div> <!--Drop Content-->
                </div> <!--Card-->
              {% endfor %}
            </div> <!--Accordion-->
          </form>
        {% endif %}
      <div>
  </div>
</div>


<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" action="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Transactions to Export</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> <!--Modal header-->

        <div class="modal-body">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input type="checkbox" name="exportCheck" value="delivery" class="form-check-input">
              <label class="form-check-label" for="inlineCheckbox1">Delivery&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" name="exportCheck" value="collection" class="form-check-input">
              <label class="form-check-label" for="inlineCheckbox2">Collection</label>
            </div>
            <div class="form-check form-check-inline">
              <p id="dcAlert">Please select at least 1 option.</p>
            </div>
          </div> <!--Form group-->

          <div class="form-group">
            <div class="form-check form-check-inline">
              <input type="checkbox" name="exportCheck" value="uncompleted" class="form-check-input">
              <label class="form-check-label" for="inlineCheckbox1">Undelivered/Uncollected&nbsp;&nbsp;</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" name="exportCheck" value="completed" class="form-check-input">
              <label class="form-check-label" for="inlineCheckbox2">Delivered/Collected</label>
            </div>
            <div class="form-check form-check-inline">
              <p id="ucAlert">Please select at least 1 option.</p>
            </div>
          </div> <!--Form group-->
        </div> <!--Modal body-->

        <div class="modal-footer">
          <button type="button" class="btn grayButton" data-dismiss="modal">Cancel</button>
          <a class="btn" href="javascript:checkExportChoices()">Export</a>
        </div>
      </form>
    </div> <!--Modal footer-->
  </div>
</div> <!--Modal-->
{% endblock %}

{% block scripts %}
<script>
  $('.check').click( function(ev){
    ev.stopImmediatePropagation();
    console.log("clicked!");
  });

  $('.stopProp').click( function(ev){
    ev.stopImmediatePropagation();
    console.log("clicked!");
  });
</script>

<script>
  function checkExportChoices() {
    delivery = document.querySelector('input[value="delivery"]').checked;
    collection = document.querySelector('input[value="collection"]').checked;
    uncompleted = document.querySelector('input[value="uncompleted"]').checked;
    completed = document.querySelector('input[value="completed"]').checked;

    if(delivery==false && collection==false) {
      console.log('ff');
      document.getElementById('dcAlert').style.display = 'inline';
    }

    else {
      if(uncompleted==false && completed==false) {
        console.log('ff');
        document.getElementById('dcAlert').style.display = 'none';
        document.getElementById('ucAlert').style.display = 'inline';
      }
      else {
        document.getElementById('dcAlert').style.display = 'none';
        document.getElementById('ucAlert').style.display = 'none';
        window.location.href = '/downloadTransactions/' + delivery + '/' + collection + '/'+ uncompleted + '/' + completed;
      }
    }

  }
</script>
{% endblock %}
