*{
  text-align: left;
}

.box{
  background-color: white;
  margin-top:10px;
  margin-left: 550px;
  margin-right: 550px;
  border-radius: 10px;

}

table tbody {
  background-color: white;
}

hr {
  color:#84a220;
}
