body{
    padding: 0;
    font-weight: 400;
    letter-spacing: 0.031rem
}


header{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 15px;
}

hr{
  border-color: #84a220;
}
h1{
  font-size: 1.625rem;
  font-weight: 700;
}

.box, #right-sticky{
    background-color: white;
}

#content{
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    overflow: visible;
    width: 940px;
}
#left{
    width: 570px;
    box-sizing: border-box;
    height: 900px;
    float: left;
}

.box{
    padding: 20px 20px;
    margin-bottom: 1em;
}
#delivery-address div:last-child{
    display: flex;
    justify-content: space-between;
}

/* #delivery-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} */

#collection{
    /* background-color: cadetblue;  */
    display: flex;
    justify-content: flex-start ;
}
#collection .delivery-details{
    margin-left: 10%;
}

#home{
    display: flex;
    justify-content: flex-start ;
    /* background-color: cadetblue; */
}
#home .delivery-details{
    margin-left: 10%;
}


.buttons{
    float: right;
    /* background-color: aqua; */
    margin-top: 3rem ;
}

.option{
    padding-left: 300px;
    /* background-color: blue; */

}
#section1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.payment-row{
justify-content: space-between;
display:flex;
margin: 10px 0;
}

#payment_mode{
  list-style-type: none;
}

.order button{

margin-left: 88%;
}

a.mybutton, button{
    background-color: white;
    color: black;
    border: 2px solid #e8e8e8;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;

}

button:hover{
    background-color: #e7e7e7;
}
a.mybutton:hover{
    background-color: #e7e7e7;
    text-decoration: none;
    color: black;
}

#right-sticky{
    width: 360px;
    float: right;
    box-sizing: border-box;
    height:90vh;
    position: sticky;
    top: 0;
}

#right-sticky h3:first-child{
    font-weight: bold;
}
#right-sticky a{
    float: right;
    color: black;
}
.details{
    display: flex;
}
.details .right{
    /* background-color: aqua; */
    width: 50%;
}
.bold{
    font-weight: bold;
}

section{
  display: block;
  overflow: hidden;
}

#sum{
    color: #2d2d2d;
    margin-bottom: .313rem;
    font-size: 1rem;
}

#sum hr{
  background-color: #84a220;
  border:none;
  height:1px;
  margin:.25rem 0 1.563rem
}

#sum table{
  width: 100%;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

.is-screen-reader-text{
  border:0;
  clip:rect(0 0 0 0);
  height: 1px;
  margin:-1px;
  overflow: hidden;
  padding:0;
  width:1px;
}

.l-rc{
  float: right;
  width:360px;
  background-color: white;
  margin-left: 10px;
  height: 55vh;
}

.l-page .l-rc .l-card{
  padding: 0;
  background: 0 0;
}

.l-ltc{
  padding-right:10px;
  padding-left:10px;
  width: 60%;
  align-items: center;
  padding: 1px 0;
}

.l-ltc>div{
  text-transform: uppercase;
  letter-spacing: .125rem;
}

.l-rtc{
  padding-right: 10px;
  text-align:right;
  width: 40%;
  white-space: nowrap;
  padding: 1px 0;
}

#sum tbody td{
  padding: 0 0 1.25rem;
}

tbody .l-ltc{
  display: flex;
  width:auto;
}

#CHECKOUT{
    margin: auto;
    width: 50%;
    /* background-color: aqua; */
}

#items{
  overflow-y: auto;
  list-style: none;
  bottom: 0;
  left:0;
  margin:0;
  overflow:hidden;
  padding:0;
}

#items:first-child{
  margin-top: 1rem;
}

.item{
  margin-top:0;
  display: flex;
}

.item>img{
  height: 100px;
  width: 100px;
  flex: 0 0 85px;
}

.details{
  display: inline-block;
  color: #666;
  flex-wrap:wrap;
  flex: 1 1 100%;
  margin:0 0 0 .688rem;
}

.item-price{
  font-size: .875rem;
  display: block;
  margin: .5rem 0 .5rem;
  padding: 0 .625rem;
  font-style: normal;
  font-weight: 700;
  line-height:.813rem;
  letter-spacing: 1.6px;
}

.item-name{
  display: inline-block;
  max-height: 3rem;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .875rem;
  margin: -.188rem 0 .25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  padding: 0 .625rem;
  white-space: nowrap;
}

.item-options-wrapper{
  font-size: 1rem;
  color: #666;
  font-style: normal;
  font-weight: 400;
}

.item-brand{
  font-size:.875rem;
  color:#666;
  float: left;
  font-style: normal;
  font-weight:700;
  line-height:.938rem;
  padding: 0 .625rem;
}

.item-quantity{
  font-size: 1rem;
  clear:left;
  display: inline-block;
  float: left;
  font-style: normal;
  font-weight:400;
  padding:.188rem .625rem;
}


.inner-items{
  padding: 1.25rem;
  letter-spacing:0.031rem;
}

.bag .bag-header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom:1rem;
}

.bag .bag-header .h2{
  line-height: 2.125rem;
  margin:0;
}

#item-number{
  font-size: 1.125rem;
}

#edit{
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 15px;
}

.bag hr{
  background-color: #e8e8e8;
  border: none;
  height: 1.5px;
}

.item-list{
  overflow: auto;
}

.item-wrapper{
  height: 16.25rem;
  padding-left: 10px;
  padding-right:10px;
}

#header-line{
  background-color: #84a220;
  margin:0;
}
