a[href='/products/name/ascending'] {
  border-color: #AAAAAA;
  border-width: 3px;
  color: #888888;
}

a[href='/products/name/ascending']:hover {
    background-color: #AAAAAA;
    color: #ffffff;
}
