@media(min-width: 1024px).item{
width: calc(25% - 9px);
}

@media(min-width: 768px).item{
width: calc(33.3333% - 8px);
}


.main-body{
width: 100%;
height: 100%;
position: relative;
background-color:rgba(142, 142, 142, 0.3);
}

#filters{
margin-top: 10px;
margin-left: 10px;
}

@media(min-width: 1024px).secondary-body{
padding-left: 32px;
padding-right: 32px;
}

@media(min-width: 768px).secondary-body{
border-sizing: border-box;
max-width: 1366px;
padding: 0 24 px;
margin: 0 auto;
}

.secondary-body{
height: 100%;
width: 100%;
max-width: 512px;
margin: 0 auto;
}

@media(min-width: 768px).tertiary-body{
padding: 0 0 36px;
}

.tertiary-body{
box-sizing: border-box;
width: 100%;
padding: 0px 12px 36px;
}

.results-number{
font-size: 14px;
letter-spacing: .5px;
line-height: 20px;
color: #666;
text-align: center;
margin: 0 0 4px;
padding: 16px 0 0;
}

.items-block{
position: relative;
display: block;
overflow: visible;
text-align: center;
}

.item{
position:relative;
box-sizing: border-box;
display: inline-block;
vertical-align: top;
width: 20rem;
margin: 12px 0 1px 1px;
}

.item-link{
display: block;
text-decoration: none;
margin: 0;
padding: 0;
}

.item-img{
position: relative;
text-align: center;
margin: 15px;
background-color: #eee;
display: block;
}

.delete{
position: absolute;
bottom: 270px;
left: 280px;
height: 15px;
width: 15px;
z-index: 279190;
}

.delete img{
height:15px;
width:15px;}

.item-img img{
height: 10rem;
max-width: 10rem;
/*z-index: 1;
position: relative;*/
}

.item-caption-box{
font-size 14px;
letter-spacing: .5px;
line-height: 20px;
color: #2d2d2d;
display: block;
width: 100%;
height: 40px;
margin: 0 0 12px;
}

.item-caption{
overflow: hidden;
height: 44px;
line-height: 22px;
word-wrap: break-word;
}

.item-caption>:first-child{
float: right;
width: 100%;
margin-left: -1px;
}

.item-description{
font-size: 14px;
}

.price-box{
font-size 14px;
letter-spacing: .5px;
line-height: 20px;
color: #2d2d2d;
height: 40px;
}

.price{
font-weight: 900;
letter-spacing: 2px;
color: #666;
white-space: nowrap;
}

.quick-view{
position: absolute;
bottom: 120px;
right: 105px;
height: 36px;
width: 108px;
border: none;
background-color: #1fc8db;
background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
opacity: 0.8;
color: white;
padding: 10px 8px 8px;
outline: none;
}

/*
a.button{
    background-color: white;
    color: black;
    border: 2px solid #e8e8e8 !important;
    padding: 10px ;
    text-align: center;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif !important;
}
a.button:hover{
    background-color: #e7e7e7;
    text-decoration: none;
    color: black;
}
*/
.hide {
    max-height: 0 !important;
}

.drop{
	border: 0.1em solid black;
	width: 10em;
	margin-bottom: 1em;
}

.title{
	margin: .3em .3em .3em .3em;
	width: 100%;
}

.title .fa-angle-right{
	float: right;
	margin-right: .7em;
	transition: transform .3s;
}

.menu{
	transition: max-height .5s ease-out;
	max-height: 20em;
	overflow: hidden;
}

.menu .option{
	margin: .3em .3em .3em .3em;
	margin-top: 0.3em;
}

.menu .option:hover{
	background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
	cursor: pointer;
}

.rotate-90{
	transform: rotate(90deg);
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
  }

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }

  .add-btn:hover {
    width: 120px;
  }
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: red;
  }
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: red;
    overflow: hidden;
  }
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }

  .remove{
    text-align:center;
  }

  .move{
    color: black;
    transition: 0.25s;
  }
  .move:hover, .move:focus {
    border-color: rgb(184, 15, 10);
    color: white;
  }

  .up:hover,
  .up:focus {
    box-shadow: inset 0 -4.25em 0 0 #28a745;
  }
  a.mybutton, .mybutton{
      background-color: white;
      color: black;
      border: 2px solid #e8e8e8;
      padding: 10px ;
      text-align: center;
      display: inline-block;
      font-family: 'Josefin Sans', sans-serif !important;
  }
